# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qleaakrqjaygkhuwjwxn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZWFha3JxamF5Z2todXdqd3huIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwODI5MjksImV4cCI6MjA5OTY1ODkyOX0.HVnue4wAncdonAfi-IGLifjlatirTAy8GbE797uSle0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsZWFha3JxamF5Z2todXdqd3huIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDA4MjkyOSwiZXhwIjoyMDk5NjU4OTI5fQ.gHqj6k-XLM3-PEzm9wG7mknT76bIrl4Qv85KN4-_5uk
# TMDB
TMDB_API_KEY=
