# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Build
dist/
coverage/

# OS
.DS_Store
Thumbs.db

# Other
.pnp
.pnp.js
.vercel
*.tsbuildinfo
next-env.d.ts
/lib/generated/prisma
